@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  main styling starts here
=================================*/
body { background-color: #ccc; }
.edit { color: green; }
.delete { color: red; }
.edit:hover, .delete:hover {  color: #7c7c7c; }
.result li { padding: 20px; }

.result {
  width: 70%;
  margin: 30px auto;
}

.result ul {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;  
  background-color: #fff;
  box-shadow: 5px 10px 18px #888;
}

.alert {
  width: 50%;
  padding: 30px; 
  border: 1px solid;
  margin: 0 auto;
}

.alert-success {
  border-color: #4ca62b;
  background-color: #c5f3b4;
}

.alert-danger {
  border-color: #e0170c;
  background-color: #fad6d4; 
}

.alert-info {
  border-color: #000;
  background-color: #888; 
}

form {
  width: 50%;
  box-sizing: border-box; 
  margin: 0 auto; 
  display: flex;
  flex-direction: column; 
  align-items: center;
}

h1 {
  margin: 20px 0;
  font-size: 20px; 
  text-align: center;
  text-transform: capitalize;
}

form > div { 
  width: 100%;
  margin: 10px 0;
}

.form_input div{
  border: 2px solid #b36561;
  border-radius: 5px;
  display: flex;
}

input[type="text"], input[type="button"] { 
  padding: 10px;
  outline: none;
}

input[type="text"] {
  width: 100%;
  border: none;
  font-size: 15px;
  letter-spacing: 1px;
}

.customer_icon, .course_icon, .author_icon {
  display: inline-block;
  text-indent: -9999px;
}

.customer_icon::before {  
  content: "\f007"; 
  padding: 12px 14px;
}

.course_icon::before { 
  content: "\f15c";
  padding: 12px 13px;
}

.author_icon::before {  
  content: "\f2bd";
  padding: 12px 12px;
}

.customer_icon::before,.course_icon::before, .author_icon::before {
  float: left;
  background-color: #b36561;
  color: #fff;
  font-family: FontAwesome;
  text-indent: 0;
}

input[type="button"] {
  width: 100%;
  border: 2px solid #7c7c7c;
  border-radius: 5px; 
  background-color: #fff;
  color: #7c7c7c;
  font: bold 15px 'Arial';
  transition: all 0.5s ease;
}

.error {
  width: 100%;
  display: block;
  color: #dd3d34;
  font-size: small;
  visibility: hidden;
}

input[type="button"]:hover {
  border-color: #fff;
  box-shadow: 5px 5px 10px #7c7c7c;
}
/*=================================
  main styling ends here
=================================*/